@import '~/assets/css/myset.scss';

:root{
  font-family:
    "futura-pt", // typekit
    'source-han-sans-japanese', // typekit
    // "allumi-std", // typekit
    // "a-otf-ud-reimin-pr6n", // typekit
    'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
    'Segoe UI',       /* Windowsの欧文 */
    YuGothicM,        /* Windows8.1以上は游ゴシック */
    YuGothic,         /* Macの游ゴシック */
    Meiryo,           /* 游ゴシックが入っていないWindows */
    sans-serif;
}

/* scroll out js */
[data-scroll] {
  // transition: all 1s $ease-out;
}
[data-scroll="in"] {
  opacity: calc(var(--visible-y));
}
[data-scroll="in"][data-so-scale] {
  opacity: calc(var(--visible-y));
  transform: scale(calc(var(--visible-y) * 0.5 + 0.5));
}
[data-scroll="out"] {
  opacity: 0;
}
[data-scroll="out"][data-so-scale]{
  transform: scale(0);
}

/* nuxt page transition */
.page-enter-active{
  transition: all 0.8s $ease-out;
  // transition-delay: 0.3s;
}
.page-enter{
  opacity: 0;
  transform: translateY(5vh);
}
.page-leave-active{
  transition: all 0.7s $ease-out;
}
.page-leave-to {
  opacity: 0;
  transform: translateY(5vh);
}

// popup animation
.pop-enter-active{
  transition: all 0.5s $ease-out-back;
  transition-delay: 0.3s;
}
.pop-leave-active{
  transition: all 0.9s ease;
}
.pop-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}
.pop-enter{
  opacity: 0;
  transform: scale(0);
}

// simple fade animation
.fade-enter-active{
  transition: all 0.8s ease;
}
.fade-leave-active{
  transition: all 0.7s ease;
}
.fade-leave-to {
  opacity: 0;
}
.fade-enter{
  opacity: 0;
}

// simple fade animation
.video-enter-active{
  transition: all 0.8s ease 0.5s;
}
.video-leave-active{
  transition: all 0.7s ease;
}
.video-leave-to {
  opacity: 0;
}
.video-enter{
  opacity: 0;
}
